@font-face {
    font-family: Verdana;
    src: url("../fonts/verdana.ttf");
}
.main{
    background: url("../img/rana-sawalha-364253-unsplash@1X.png") no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header{
    height: 56px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.info{
    position: relative;
}

.logo{
    font-family: 'Verdanab', sans-serif;
    font-weight: bolder;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 81px;
    vertical-align: middle;
    margin-top: 18px;
}

.logo:hover{
    color: #3cb878;
    transition: 2s;
}

.sprite{
    text-decoration: none;
}

.img-sprites{
    float: right;
    margin-right: 50px;
    margin-top: 18px;
}

.item-img {
    display: inline-block;
    margin-left: 28px;
}

.calendar-img {
    height: 19px;
    width: 19px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.comments-img {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -89px -10px;
}


.compass-img {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -49px -10px;
}

.calendar-img:hover{
    width: 19px; height: 19px;
    background: url('../img/css_sprites_2.png') -14px -14px;
}

.comments-img:hover{
    width: 28px; height: 20px;
    background: url('../img/css_sprites_2.png') -14px -61px;
}

.compass-img:hover{
    width: 20px; height: 20px;
    background: url('../img/css_sprites_2.png') -14px -109px;
}



.information-block:before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    left: 0;
    position: absolute;
}

.login-text{
    float: right;
    margin-top: 20px;
    margin-right: 75px;
}

.login{
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 14px;
    float: right;
}

.login:before{
    content: '';
    width: 1px;
    height: 19px;
    background-color: #33312e;
    position: absolute;
    top: 19px;
    right: 295px;
}

.green-text{
    text-decoration: none;
    color: #389a67;
}

.green-text:hover{
    text-decoration: underline;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 28px));
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 15px;
}

.information-block{
    width: 322px;
    height: 100%;
    margin: 30px auto;
}

.sign-text{
    float: left;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

.log-text{
    float: right;
    font-family: 'Verdana', sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin-top: 3px;
}

.facebook-img{
    display: inline-block;
    margin-top: 13px;
    margin-left: 20px;
    width: 10px;
    height: 20px;
    background: url("../img/facebook1@1X.png");
}

.facebook-item{
    float: left;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    margin-top: 15px;
    position: relative;
}

.facebook-item-text:before{
    content: '';
    width: 1px;
    height: 28px;
    background-color: #2b54a5;
    position: absolute;
    right: 109px;
    top: 9px;
}

.google-item{
    float: right;
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    margin-top: 15px;
    position: relative;
}

.google-img{
    display: inline-block;
    margin-top: 15px;
    margin-left: 13px;
    width: 25px;
    height: 16px;
    background: url("../img/G+@1X.png");
}



.google-item-text:before{
    content: '';
    width: 1px;
    height: 28px;
    background-color: #c8422d;
    position: absolute;
    right: 109px;
    top: 9px;
}

.facebook-item-text{
     font-family: 'Verdana', sans-serif;
     font-size: 16px;
     float: right;
     margin-top: 14px;
     margin-right: 17px;
     color: #ffffff;
}

.google-item-text{
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    float: right;
    margin-top: 14px;
    margin-right: 30px;
    color: #ffffff;
}

.grey-line{
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
}

.grey-line{
    margin-top: 37px;
}

.grey-line2{
    margin-left: 48px;
}

.line{
    position: relative;
}
.grey-line2::before{
    content: 'or';
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #848484;
    position: absolute;
    bottom: -3px;
    left: 154px;
}

.general{
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
}

.general::placeholder{
    color: #bebebe;
}

.first-name{
    margin-top: 21px;
}

.general{
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding-left: 19px;
}

.general:focus{
    box-shadow: 0 4px 7px #d6d6d6;
}

.container-checkbox{
    font-family: 'Verdana', sans-serif;
    display: block;
    position: relative;
    padding-top: 2px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.container-checkbox p{
    font-size: 14px;
    color: #434343;
}

.container-checkbox a{
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}

.container-checkbox a:hover{
    text-decoration: underline;
}

.container-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}

.checkmark:after{
    content: '';
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after{
    display: block;
}

.container-checkbox .checkmark:after{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.submit{
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 46px;
    background-color: #329a65;
    border: none;
    border-radius: 3px;
}

.clearfix::after{
    display: table;
    content:'';
    clear: both;
}





