.wrapper{
    /*width: 450px;*/
    display: flex;
    flex-wrap: wrap;

}


.field{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 1px;
    background-color: grey;
}

.fa-flag{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;

}

.bomb{
    background-color: red;
}

#btn{
    font-size: 20px;
    /*margin: 0 auto;*/
    text-transform: uppercase;
    text-align: center;
}

.title{
    text-transform: uppercase;
    font-size: 20px;
    color: deepskyblue;
}

.wrapper-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    margin-top: 20px;
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
}



