.table{
    width: 1192px;
    height: 736px;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 22px solid #3a4965;
    margin: 0 auto;

}

table,td,th{
    font-family: 'Arimo-Bold', sans-serif;
    color: #9d9d9d;
    text-align: center;
    border-collapse: collapse;
    vertical-align: middle;
    text-transform: uppercase;
}

td{
    border: 1px solid #e3e3e3;
}

th{
    height: 70px;
    font-weight: 700;
}

.pricing-plan{
    width: 310px;
    height: 156px;
    background-color: #fafafa;
}

.choose-text{
    font-size: 18px;
    color: #484848;
    margin-bottom: 10px;
    display: inline-block;
}

.pricing-plan{
    font-size: 30px;
    color: #484848;
}



.green-color{
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #89c331;
}

.red-color{
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 30px;
    background-color: #f04a56;
    color: #fff;
}

.blue-color{
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 30px;
    background-color: #20807c;
    color: #fff;
}

.text-block{
    display: inline-block;
    width: 98px;
    height: 50px;
}

.text-block2{
    display: inline-block;
    width: 110px;

    height: 50px;
}
.text-17{
    display: inline-block;
    font-size: 60px;
    color: #484848;
}

.text-99{
    line-height: 1.4;
    float: left;
    font-size: 24px;
    color: #484848;
    text-align: left;
}

.text-per{
    float: left;
    font-size: 18px;
    color: #a1a1a1;
    width: 110px;
}

.icon{
    font-size: 24px;
    color: #848484;
    margin-right: 12px;
}

.grey-light{
    background-color: #f2f2f2;
}

.grey-dark{
    background-color: #e3e3e3;
}
.second-row{
    width: 277px;
    height: 86px;
}

.first-column{
    width: 310px;
    height: 69px;
}

.button{
    width: 192px;
    height: 49px;
    background-color: #484848;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: inset 0 -7px 0 #404040;
    border-style: none;
    outline: none;
}

.green-button{
    background-color: #89c331;
    box-shadow: inset 0 -7px 0 #79b027;
}

.red-button{
    background-color: #f04a56;
    box-shadow: inset 0 -7px 0 #df3a46;
}

.blu-button{
    background-color: #20807c;
    box-shadow: inset 0 -7px 0 #16736f;
}

.button:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}







