.column{
    /*background-color: white;*/
    width: 15px;
    height: 15px;
    border: 1px solid black;
    /*border-collapse: collapse;*/
}
.select{
     background-color: black;
 }

.invert td{
    background-color: black;
}

.invert .select{
    background-color: white;
}



