@font-face {
    font-family: Verdana;
    src: url("../fonts/verdana.ttf");
}
.head-block {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/background.png");
}

.container{
    width: 1065px;
    margin: 0 auto;
}

.top{
    margin-bottom: 48px;
}
.logo-block{
    float: left;
    width: 175px;
    margin-top: 49px;
}

.image{
    width: 46px;
    height: 44px;
    float: left;
    background: url("../img/logo@1X.png");
}
a:hover .image{
    background: url("../img/logo_orange1X.png");
}

a:hover .logo-text{
    color: #f26522;
}

.logo-text{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding-left: 15px;
}
.milan-text{
    font-family: 'Verdana',sans-serif;
    font-size: 29px;
    font-weight: 700;
    vertical-align: top;
}

.holidays-text{
    font-family: 'Verdana',sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.title{
    float: right;
    width: 243px;
    margin-top: 57px;
    text-align: right;

}

.title-text{
    font-family: 'Verdana',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.offer{
    float: left;
}

.offer-item{
    display: block;
    position: relative;
}
.offer-item2{
    margin: 0 71px;
}

.link-name{
    font-family: 'Verdana',sans-serif;
    display: block;
    font-size: 18px;
    margin-top: 22px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.offer-img{
    float: left;
}

.offer2{
    margin-top: 58px;
    margin-bottom: 61px;
}

.orange-panel{
    position: absolute;
    display: none;
    bottom: 0;
    width: 312px;
    height: 63px;
    background-color: #f26522;
}

.orange{
    font-family: 'Verdana',sans-serif;
    color: #fff;

}

.orange-text{
    font-size: 10px;
}

.orange-text2{
    font-size: 20px;
}

.orange-block-text{
    float: left;
    width: 38px;
    margin-left: 21px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.orange-block-text2{
    float: right;
    margin-top: 35px;
    margin-bottom: 17px;
    margin-right: 40px;
}

.orange-view{
    font-size: 14px;
}

a:hover .orange-panel{
    display: block;
}

.offer-img:hover .link-name{
    color: #f26522;
}

.orange-view:after{
    content: '\203A';
    color: #f9b291;
    font-size: 18px;

}


.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

.footer{
    font-family: 'Verdana',sans-serif;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

