.image-to-show {
    width: 400px;
    height: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
