body{
    width: 100%;
    height: 100%;
    background-color: #000;
}

.title{
    position: absolute;
    width: 90%;
    height: 500%;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
    font-size: 350%;
    line-height: 2;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(21deg);
}

.title:after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

.content{
    color: yellow;
    font-family: sans-serif;
    position: absolute;
    top: 100%;
    animation: scroll linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

.episode{
    text-align: center;
}

.attack{
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}



