/*.bg-color{*/
/*    display: inline-block;*/
/*    height: 50px;*/
/*    background-color: darkgoldenrod;*/
/*}*/

/*.input-window{*/
/*    margin-top: 15px;*/
/*}*/

/*.input-window:focus{*/
/*    box-sizing: border-box;*/
/*    border: 2px solid green;*/
/*    outline: none;*/
/*}*/

/*.label-price{*/
/*    color: #fff;*/
/*}*/

/*.top-part{*/
/*    display: none;*/
/*}*/

