body{
    margin: 0;
    padding: 0;
}
.top-menu{
    width: 650px;
    font-size: 18px;
    background-color: #fff;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 35px;
    margin: 0 auto;
}
.top-menu-link{
    font-family: sans-serif;
    margin-right: 75px;
    color: #16a085;
    text-decoration: none;
    font-weight: bolder;
}
main{
    background-color: #f5f6f7;
    padding-bottom: 90px;
}
img{
    width: 100%;
}
.head-block{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.main-block{
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: 113px;
    margin-right: 115px;
}
.but{
    width: 192px;
    border: 1px #16a085 solid;
    border-radius: 3px;
    background-color: #16a085;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}
.button{
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;

}
.last-block{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 45px 105px 45px 768px;
    text-align: right;
}

