.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    margin: 60px 0;
    font-family: sans-serif;
    font-size: 80px;
    color: black;
    text-decoration: none;
}
.logo-color{
    color: #4bcaff;
}
.navbar-menu{
    width: 100%;
    display: inline-block;
    list-style: none;
    background-color: #35444f;
    text-align: center;
}
.navbar-menu-item{
    display: inline-block;
    padding: 25px 40px;

}
.navbar-menu-link{
    text-decoration: none;
    font-size: 24px;
    color: #fff;

}
.navbar-menu-item:hover{
    background-color: #222f3a;
    border-left: 1px #818181 solid;
    border-right: 1px #818181 solid;
    padding: 25px 39px;
}
.left-menu{
    display: inline-block;
    vertical-align: top;
}
.main-block{
    margin-top: 50px;
}
.leftbar{
    width: 345px;
    height: 400px;
    display: inline-block;
    list-style: none;
    background-color: #fff;
    border: 1px #35444f solid;
}
.leftbar-link:hover{
    color: #333333;
    background-color: #dbdbdb;
    padding-left: 70px;

}
.leftbar-link1:hover{
    padding-right: 191px;
}
.leftbar-link2:hover{
    padding-right: 110px;
}
.leftbar-link3:hover{
    padding-right: 62px;
}
.leftbar-link4:hover{
    padding-right: 116px;
}
.leftbar-link5:hover{
    padding-right: 140px;
}
.leftbar-link{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: #495863;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.leftbar-link1{
    padding-right: 215px;
}
.leftbar-link2{
    padding-right: 135px;
}
.leftbar-link3{
    padding-right: 87px;
}
.leftbar-link4{
    padding-right: 140px;
}
.leftbar-link5{
    padding-right: 165px;
}
.black{
    color: black;
}

.photo{
    width: 877px;
    height: 530px;
    display: inline-block;
    border: 1px #35444f solid;
    margin-left: 50px;
    margin-bottom: 50px;
}
.picture{
    display: inline-block;
    margin: 75px 275px;
}
.picture:hover{
    transform: scale(1.3);
    -webkit-transition: all 1s ease-out;
}
.text{
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 450px;
    margin-bottom: 30px;
    margin-right: 55px;
    line-height: 1.5;
}
.lower-menu{
    width: 100%;
    display: inline-block;
    list-style: none;
    background-color: #b4b7ba;
    margin-top: 20px;
    margin-bottom: 30px;

}
.lower-menu-item{
    display: inline-block;
    padding: 22px 0;
    margin-left: 15px;
}
.lower-menu-item1{
    margin-left: 45px;
}
.lower-menu-link{
    font-size: 28px;
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #333333;
}
.lower-menu-link:hover{
    color: #548fab;
    text-decoration: underline;
}
.lower-menu-item-copyright{
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 180px;
}




