.container{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #1d2124;
}

.top-menu{
    display: flex;
    align-items: center;
}

.navbar-menu{
    display: flex;
    width: 616px;
    list-style: none;
    justify-content: space-between;
}

.navbar-menu-link{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;

}

.left-top{
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-img{
    background-color: #1a1d20;
    width: 68px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    background: url("../img/logo-img@1X.png");
    width: 27px;
    height: 27px;
}

.text{
    text-decoration: none;

}

.text-architect{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 6px;
}

.search{
    display: flex;
    width: 68px;
    background-color: #171a1c;
    justify-content: center;
    align-items: center;
}

.search-img{
    background: url("../img/search@1X.png");
    width: 17px;
    height: 17px;
}

.second-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
}

.latest-news{
    display: flex;
    width: 610px;
    height: 120px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.latest-news-text{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    color: #ffffff;
}

.button{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 170px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 10px;
}

.button-subscribe{
    background-color: #89ca62;
}

.button-articles{
    background-color: #14b9d5;
}

.popular{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-block{
    background-color: #f2f2f2;
    width: 100%;
    height: 1030px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}

.posts{
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-1{
    text-decoration: none;
}

.column1{
    width: 370px;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column2{
    width: 370px;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3{
    width: 370px;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post1-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffffff;
    text-align: center;
    padding: 21px 0;
    color: #353a3d;
}

.white-space{
    display: block;
}

.popular-clients{
    width: 100%;
    height: 600px;
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
}

.title-text{
    padding-top: 200px;
}

.most-popular-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.title-text:after{
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background-color: #169cb4;
    margin: 55px auto;
}

.holder-img{
    display: grid;
    grid-template-columns: 1fr 283px 210px 250px 215px 1fr;
    justify-items: center;
    align-items: center;
}

.logo-item1{
    grid-column-start: 2;
}

.wraper-top-rated{
    width: 100%;
    background-color: #ffffff;
}

.wraper-rated{
    display: grid;
    grid-template-rows: 130px auto 130px;
    font-size: 0;

}

.top-rated{
    display: grid;
    justify-items: center;
    align-items: center;
}

.text-top-rated{
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: #18b4cf;
    font-weight: 700;
    text-transform: uppercase;
}

.rated-item{
    display: grid;
    grid-template-columns: repeat(auto-fit,270px);
}

.wraper-hot-news{
    width: 1170px;
    /*height: 1620px;*/
    margin: 0 auto;
}

.general-wrapper{
    display: grid;
    grid-row-gap: 40px;
}

.first-row-wrapper{
    display: grid;
    grid-template-columns: 856px 277px;
    grid-column-gap: 35px;
}

.first-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f7f7;
}

.text-box{
    width: 320px;
    height: 140px;
    margin-left: 30px;
    text-align: right;

}

.spa-text-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #353a3d;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 22px;
    text-align: right;
    margin-right: 24px;
}

.spa-text-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5b6469;
    font-weight: 400;
}

.first-right-item{
    background-color: #f9f7f7;
}

.nebula-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #353a3d;
    margin-top: 14px;
}

.second-row-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.second-row{
    background-color: #f9f7f7;
}

.text-western{
    display: grid;
    grid-template-rows: 20px 20px 20px 77px 20px;
    grid-template-columns: 1fr 505px 1fr;
}

.western-text-title{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-items: end;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #353a3d;
    font-weight: 700;
}

.western-text-subtitle{
    display: grid;
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5b6469;
    font-weight: 400;
}

.first-row-wrapper2{
    display: grid;
    grid-template-columns: 277px 856px;
    grid-column-gap: 35px;
}

.last-block{
    width: 100%;
    height: 80px;
    background-color: #1d2124;
    margin-top: 70px;
}

.wraper-footer{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 505px 560px 38px 65px 1fr;
}

.wraper-text{
    display: grid;
    grid-column-start: 2;
    align-items: center;

}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.red-logo{
    display: grid;
    grid-column-start: 4;
    align-items: center;
    margin-right: 3px;
}

.text-logo{
    display: grid;
    grid-column-start: 5;
}

.text-img{
    margin-top: 29px;
}

.links-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links-menu-item{
    padding: 20px 0;
}

.links-item{
    color: #14b9d5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

.wrapper-toggle{
    text-align: center;
}

.slide-toggle{
    padding: 20px;
    text-transform: uppercase;
    background-color: #14b9d5;
    border-radius: 5px;
    color: white;
}

.wrapper-scroll{
    display: none;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    position: fixed;
}

.scroll-up{
    width: 80px;
    height: 80px;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.arrow-up{
    font-size: 30px;
    color: #14b9d5;
}






















