@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroy-normal.otf");
  font-weight: 400;
}
html {
  font-size: 10px;
}

.header-wrapper {
  background-color: #171717;
  background-size: cover;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #414144;
  position: relative;
}
.header-wrapper__logo {
  padding-left: 4rem;
}
.header-wrapper__nav-menu {
  display: flex;
  width: 46rem;
  justify-content: space-between;
  margin-left: 37.5rem;
  margin-right: 33rem;
}
.header-wrapper__item {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  padding-bottom: 2.9rem;
}
.header-wrapper__sub-menu {
  background-color: #000;
  box-sizing: border-box;
  border-bottom: 3px solid #ffd200;
  opacity: 0;
  display: flex;
  position: absolute;
  top: 84px;
  width: 46rem;
  height: 18rem;
  justify-content: space-around;
  z-index: 1;
}
.header-wrapper__sub-menu > ul {
  width: 20.5rem;
  margin-top: 2rem;
}
.header-wrapper__title-subcategory {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #888888;
  margin-bottom: 2.4rem;
}
.header-wrapper__block-subcategory {
  border-bottom: 1px solid #202020;
  padding-bottom: 0.7rem;
  padding-top: 0.8rem;
}
.header-wrapper__sub-menu > .header-wrapper__column1 li {
  padding-left: 1rem;
}
.header-wrapper__sub-menu > ul li a {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}
.header-wrapper__nav-menu li:hover .header-wrapper__sub-menu {
  opacity: 1;
}
.header-wrapper .sub-menu li a {
  text-decoration: none;
  color: white;
}
.header-wrapper__item:hover {
  border-bottom: 3px solid #ffd200;
  color: #ffd200;
}
.header-wrapper__button-login {
  padding: 3.3rem 0;
  margin-right: 30rem;
}
.header-wrapper__sign-in {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  padding-right: 1.8rem;
}
.header-wrapper__registration {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #ffd200;
  text-decoration: none;
  border: 1px solid #ffd200;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
}
.header-wrapper__language {
  display: flex;
  align-items: center;
}
.header-wrapper__english {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #fff;
  padding-left: 1rem;
}
.header-wrapper__arrow {
  padding-left: 1rem;
  padding-top: 0.6rem;
}

.slider-wrapper {
  background-color: #171717;
}
.slider-wrapper__title {
  padding-top: 13.5rem;
  width: 61rem;
  margin-left: 48rem;
  height: 53rem;
}
.slider-wrapper__text {
  font-family: Gilroy, sana-serif;
  font-size: 6rem;
  color: white;
  line-height: 1.2;
  font-weight: 400;
}
.slider-wrapper__learn-now {
  color: black;
  text-decoration: none;
}
.slider-wrapper__btn {
  font-family: Gilroy, sana-serif;
  font-size: 1.8rem;
  width: 21.7rem;
  height: 5rem;
  background-color: #ffd200;
  text-align: center;
  border-radius: 0.2rem;
  line-height: 2.7;
  margin-top: 5rem;
}
.slider-wrapper__image {
  position: absolute;
  left: 92.8rem;
  top: -1.4rem;
}

.box {
  position: relative;
}

.slick-dots {
  bottom: 132px;
  left: 47rem;
}

.yellow-block {
  position: absolute;
  top: 69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  background-color: #ffe400;
}
.yellow-block__wrapper-logo {
  width: 96rem;
  display: flex;
  justify-content: space-between;
}

.form {
  background-color: #fff;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}
.form__input-wrapper {
  width: 96rem;
  margin: 0 auto;
}
.form__title {
  font-family: Gilroy, sana-serif;
  font-size: 3rem;
  color: #000;
}
.form__name-email {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.form__input {
  width: 30rem;
  height: 4.9rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}
.form__input[placeholder] {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #888888;
}
.form__input[value] {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #888888;
}
.form__number-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}
.form__number {
  display: flex;
}
.form__clue {
  position: absolute;
  left: calc(100% - 49.8rem);
}
.form__select {
  width: 8rem;
  height: 5rem;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem;
}
.form__input-line {
  width: 33rem;
  border-right: 1px solid #ececec;
}
.form__information {
  width: 4.5rem;
  height: 4.9rem;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__date {
  display: flex;
}
.form__input-date {
  width: 42rem;
  border-right: 1px solid #ececec;
}
.form__zipcode-message {
  display: flex;
  justify-content: space-between;
}
.form__zipcode-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
.form__zipcode {
  width: 42rem;
  border-right: 1px solid #ececec;
}
.form textarea {
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  color: #888888;
  max-width: 44.8rem;
  min-width: 44.8rem;
  max-height: 9.9rem;
  min-height: 9.9rem;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.form__file-submit {
  display: flex;
  justify-content: space-between;
}
.form__input-file-container {
  position: relative;
  width: 46.5rem;
}
.form__input-file-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.9rem;
  background: #fff;
  border: 2px dashed #ececec;
  color: #888888;
  font-family: Gilroy, sana-serif;
  font-size: 1.6rem;
  cursor: pointer;
}
.form__input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.5rem;
  opacity: 0;
  cursor: pointer;
}
.form__img {
  padding-right: 1rem;
}
.form__submit-btn {
  width: 46.5rem;
  background-color: #ffd200;
  border-radius: 2px;
  outline: none;
  border: none;
  font-family: Gilroy, sana-serif;
  color: #000;
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
