@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroy-normal.otf");
  font-weight: 400;
}

$font: Gilroy, sana-serif;
$yellow: rgb(255, 210, 0);

html{
  font-size: 10px;
}

.header-wrapper{
  background-color: rgb(23, 23, 23);
  background-size: cover;
  display: flex;
  align-items: center;
  border-bottom: 1px solid  rgb(65, 65, 68);
  position: relative;

  &__logo{
    padding-left: 4rem;
  }

  &__nav-menu {
    display: flex;
    width: 46rem;
    justify-content: space-between;
    margin-left: 37.5rem;
    margin-right: 33rem;
  }

  &__item{
    font-family: $font;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-bottom: 2.9rem;
  }

  &__sub-menu{
    background-color: #000;
    box-sizing: border-box;
    border-bottom: 3px solid $yellow;
    opacity: 0;
    display: flex;
    position: absolute;
    top: 84px;
    width: 46rem;
    height: 18rem;
    justify-content: space-around;
    z-index: 1;
  }

  &__sub-menu > ul{
    width: 20.5rem;
    margin-top: 2rem;
  }

  &__title-subcategory{
    font-family: $font;
    font-size: 1.6rem;
    color: #888888;
    margin-bottom: 2.4rem;
  }

  &__block-subcategory{
    border-bottom: 1px solid #202020;
    padding-bottom: 0.7rem;
    padding-top: 0.8rem;
  }

  &__sub-menu > &__column1 li{
    padding-left: 1rem;
  }

  &__sub-menu > ul li a{
    font-family: $font;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
  }

  &__nav-menu li:hover &__sub-menu{
    opacity: 1;
  }

  .sub-menu li a{
    text-decoration: none;
    color: white;
  }

  &__item:hover{
    border-bottom: 3px solid $yellow;
    color: $yellow;
  }


  &__button-login{
    padding: 3.3rem 0;
    margin-right: 30rem;
  }

  &__sign-in{
    font-family: $font;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 1.8rem;
  }

  &__registration{
    font-family: $font;
    font-size: 1.6rem;
    color: $yellow;
    text-decoration: none;
    border: 1px solid $yellow;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
  }

  &__language{
    display: flex;
    align-items: center;
  }

  &__english{
    font-family: $font;
    font-size: 1.6rem;
    color: #fff;
    padding-left: 1rem;
  }

  &__arrow{
    padding-left: 1rem;
    padding-top: 0.6rem;
  }
}

.slider-wrapper{
  background-color: rgb(23, 23, 23);
  //padding-bottom: 18rem;

  &__title{
    padding-top: 13.5rem;
    width: 61rem;
    margin-left: 48rem;
    height: 53rem;
  }

  &__text{
    font-family: $font;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 400;
  }

  &__learn-now{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  &__btn{
    font-family: $font;
    font-size: 1.8rem;
    width: 21.7rem;
    height: 5rem;
    background-color: $yellow;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 2.7;
    margin-top: 5rem;
  }

  &__image{
    position: absolute;
    left: 92.8rem;
    top: -1.4rem;
  }
}

.box{
  position: relative;
}

.slick-dots {
  bottom: 132px;
  left: 47rem;
}

.yellow-block{
  position: absolute;
  top: 69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  background-color: rgb(255, 228, 0);

  &__wrapper-logo{
    width: 96rem;
    display: flex;
    justify-content: space-between;
  }


}

.form{
  background-color: #fff;
  padding-top: 4.5rem;
  padding-bottom: 5rem;

  &__input-wrapper{
    width: 96rem;
    margin: 0 auto;
  }

  &__title{
    font-family: $font;
    font-size: 3rem;
    color: #000;
  }

  &__name-email{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__input{
    width: 30rem;
    height: 4.9rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
  }

  &__input[placeholder]{
    font-family: $font;
    font-size: 1.6rem;
    color: rgb(136, 136, 136);
  }

  &__input[value]{
    font-family: $font;
    font-size: 1.6rem;
    color: rgb(136, 136, 136);
  }

  &__number-date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
  }

  &__number{
    display: flex;
  }

  &__clue{
    position: absolute;
    left: calc(100% - 49.8rem);
    //opacity: 0;
  }

  &__select{
    width: 8rem;
    height: 5rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
  }

  &__input-line{
    width: 33rem;
    border-right: 1px solid #ececec;
  }

  &__information{
    width: 4.5rem;
    height: 4.9rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date{
    display: flex;
  }

  &__input-date{
    width: 42rem;
    border-right: 1px solid #ececec;
  }

  &__zipcode-message{
    display: flex;
    justify-content: space-between;
  }

  &__zipcode-wrapper{
    display: flex;
    margin-bottom: 2rem;
  }

  &__zipcode{
    width: 42rem;
    border-right: 1px solid #ececec;
  }

  textarea{
    font-family: $font;
    font-size: 1.6rem;
    color: rgb(136, 136, 136);
    max-width: 44.8rem;
    min-width: 44.8rem;
    max-height: 9.9rem;
    min-height: 9.9rem;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    padding-top: 2rem;
    padding-left: 1.5rem;
  }

  &__file-submit{
    display: flex;
    justify-content: space-between;
  }

  &__input-file-container {
    position: relative;
    width: 46.5rem;
  }

  &__input-file-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.9rem;
    background: #fff;
    border: 2px dashed rgb(236, 236, 236);
    color: rgb(136, 136, 136);
    font-family: $font;
    font-size: 1.6rem;
    cursor: pointer;
  }
  &__input-file {
    position: absolute;
    top: 0; left: 0;
    width: 46.5rem;
    opacity: 0;
    cursor: pointer;
  }

  &__img{
    padding-right: 1rem;
  }

  &__submit-btn{
    width: 46.5rem;
    background-color: $yellow;
    border-radius: 2px;
    outline: none;
    border: none;
    font-family: $font;
    color: #000;
    font-size: 1.8rem;
  }

}










